.app {
  color: #fff;
  background: #0d0010;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.modes {
  display: flex;
  gap: 16px;
}

button {
  background: #140015;
  color: #ffb3ff;
  padding: 10px 20px;
  border: 1px solid #ff4dff;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #ff4bff;
  color: #000;
  box-shadow: 0 0 10px #ff4dff, 0 0 20px #ff4dff;
}